/* COLORS
 *
 * Slate Blue: #52656B
 * Pink: #FF3B77
 * Green: #CDFF00
 * White: #fff
 * Khaki: #B8B89F
 */

@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  color: #000;
  background-color: #fff;
  font: 400 32px/1.5 'Merriweather Sans', sans-serif;  /* total row height is 48px */
  height: 100vh;
  width: 100vw;
  perspective: 600;
}

a:link,
a:visited {
  color: #ff3b77;
}

.next:visited,
.next {
  display: inline-block;
  background-color: #cdff00;
  color: #000;
  text-align: center;
  padding: 0.75rem 20px 0.75rem;
  border-radius: 4px;
  box-shadow: 0 5px 0 #000;
  margin: 3rem 0 1.5rem 0;
  font-weight: bold;
  text-decoration: none;
}

.progress {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem 60px;
  background-color: #b8b89f;
}

section {
  background: #fff;
  padding: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

section h1 {
  color: #52656B;
  font-size: 6rem;
  font-family: "Yevesa One", cursive;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1.5rem;
}

section p {
  margin-top: 1.5rem;
}

section ul {
  margin: 1.5rem 0 1.5rem 3rem;
}

section + section {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

section:target {
  visibility: visible;
  opacity: 1;
  transform-style: preserve-3d;
  animation: flip 0.5s;
}

@keyframes flip {
  from { transform: rotateY(180deg); }
  to { transform: rotateY(0deg); }
}

pre code {
  margin: 1.5rem 0;
}
