@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather:700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  color: #333;
  background-color: #fff;
  font: 400 32px/1.5 'Merriweather Sans', sans-serif;  /* total row height is 48px */
  height: 100vh;
  width: 100vw;
  perspective: 600;
}

a:link,
a:visited {
  color: #01B0F0;
}

.jumpto {
  margin: 3rem 20px;
  padding: 0 20px;
  border: 2px dotted #AEEE00;
  display: block;
}

.jumpto p {
  font-weight: bold;
}

.jumpto ul {
  list-style: none;
  margin-left: 20px;
}

.jumpto li:before {
  content: "\0021AA ";
  color: #FF358B;
}

.next:visited,
.next {
  display: inline-block;
  background-color: #AEEE00;
  text-align: center;
  padding: 0.75rem 20px 0.75rem;
  border-radius: 4px;
  color: #333 !important;
  margin: 3rem 0 1.5rem 0;
  font-weight: bold;
  text-decoration: none;
}

progress {
  width: 100%;
  margin-bottom: 1.5rem;
  opacity: 0.5;
}

section {
  background: #fff;
  padding: 3rem;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow-y: scroll;
}

section h1,
section h2,
section h3,
section h4 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #FF358B;
  margin: 1.5rem 0;
}

section h1 {
  font-size: 6rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

section p {
  margin-top: 1.5rem;
}

section ul,
section ol {
  margin: 1.5rem 0 1.5rem 3rem;
}

section + section {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

section:target {
  visibility: visible;
  opacity: 1;
  transform-style: preserve-3d;
  animation: flip 0.5s;
}

@keyframes flip {
  from { transform: rotateY(180deg); }
  to { transform: rotateY(0deg); }
}

pre code {
  margin: 1.5rem 0;
}

