* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: #fff;
  font: 400 16px/1.5rem 'Verdana', sans-serif;  /* total row height is 48px */
  height: 100vh;
  width: 100vw;
}

section {
  background: #fff;
  padding: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

section h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

section p {
  margin-top: 1.5rem;
}

section ul {
  margin: 1.5rem 0 1.5rem 3rem;
}

section + section {
  display: none;
}

section:target {
  display: block;
}
